<?xml version="1.0"?>
<launch>

  <!-- What simulator to use -->
  <arg name="simulation_package" default="$(optenv SIMULATION_PACKAGE rbkairos_gazebo)"/>
  <arg name="config_package" default="$(optenv SIMULATION_CONFIG_PACKAGE rbkairos_gazebo)"/>
  
  <!-- Rviz arguments -->
  <arg name="config_file" default="rviz/rviz.rviz"/>
  <arg name="config_path" default="$(eval find(config_package) + '/' + config_file)"/>

  <!-- Run rviz -->
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(arg config_path)"/>

</launch>
